footer {
  background: #252831;
}

.footer-text {
  margin: 0;
  padding: 2%;
  text-align: center;
  color: #c1c1c1;
  font-family: "Comfortaa",sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.footer-text a {
  color: #00bac6;
  transition: 1s;
  &:hover {
    color: white;
    transition: 1s;
  }
}

