.bg-hello {
  background: url("../img/bg-hello.jpg");
  background-size: cover;
  padding: 20% 1%;
}

.hello {
text-align: center;
  &__heading {
    color: white;
    font-family: "Comfortaa", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 0 5px;
  }
  &__text {
    width: 60%;
    color: white;
    font-family: "Comfortaa", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    margin: 20px auto;
  }
}

.popup {
  display: block;
  width: 230px;
  padding: 1%;
  margin: 1%;
  color: white;
  font-family: "Comfortaa", sans-serif;
  font-size: 20px;
  font-weight: 400;
  background: #f7584c;
  transform: rotate(90deg);
  position: fixed;
  top:50%;
  opacity: 0.8;
  left: 88%;
  text-align: center;
  transition: 1s;
  z-index: 6;
  &:hover {
    opacity: 1;
    transition: 1s;
  }
}



.popup-form {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top:15%;
  z-index: 105;
  background: url("../img/form-bg.png");
  background-size: cover;
  display: none;
}

.online {
  width: 96%;
  padding: 0 10px;
}

.online > input {
  width: 100%;
}

.online > textarea {
  width: 100%;
}

#pop-btn {
  width: 30%;
  background: #363D4E;
  color: #FFFFFF;
  &:hover {
   opacity: 0.7;
  }
}

.hello-form {
  min-width: 200px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 20px;
  background: rgba(0, 186, 198, 0.76);
  border: 8px solid #363D4E;
}

.modal_close {
  text-align: center;
  background: #363D4E;
  border: none;
  border-radius: 50%;
  color: #FFFFFF;
  cursor: pointer;
  outline: none;
  width: 42px;
  height: 42px;
  transition: transform 600ms;
  margin-left: 90%;
}

.modal_close:hover {
  background: #3E465A;
  transform: rotate(360deg) scale(1.10);
  transition: transform 600ms;
}

button.modal_close span, span:before, span:after {
  background: #FFFFFF;
  content: '';
  cursor: pointer;
  display: block;
  height: 2px;
  width: 20px;
}

button.modal_close span:first-child {
  background: none;
  margin: auto;
}

button.modal_close span:before {
  transform: rotate(45deg);
}

button.modal_close span:after {
  transform: translateY(-2px) rotate(-45deg);
  top: 2px;
}

.thankyou {
  display: none;
}

.thankyou-text {
  color: white;
  font-family: "Comfortaa", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  margin: 20px auto;
}

.error {
outline: 3px solid #f7584c  }

@media screen and (min-width: 1450px) {
.popup {
  left: 88%;
}
}

@media screen and (max-width: 1367px) {
  .popup {
    left: 87%;
  }
}

@media screen and (max-width: 1025px) {
  .popup {
    left: 84%;
  }
}

@media screen and (max-width: 768px) {
  .popup {
    left: 79%;
  }
  .modal_close:hover {
    transform: scale(1);
    transition: transform 600ms;
  }
}

@media only screen and (max-device-width : 800px) and (orientation : landscape) {
  .popup-form {
    padding-top: 5px;
  }
}

@media screen and (max-width: 668px) {
  .popup {
    left: 76%;
  }

}

@media screen and (max-width: 415px) {
  .popup {
    left: 65%;
  }
  .popup-form {
    width: 97%;
  }
}

@media screen and (max-width: 376px) {
  .popup {
    left: 62%;
  }
}

@media screen and (max-width: 360px) {
  .popup {
    left: 60%;
  }
}