@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700");
body {
  background: white; }

* {
  box-sizing: border-box; }

main {
  width: 100%; }

.menu-fixed {
  width: 100%;
  background: #323a45;
  padding: 10px 30px; }

.headlist {
  padding: 10px 0; }
  .headlist__list {
    display: inline-block;
    padding: 0 3%; }
  .headlist__link {
    display: block;
    position: relative;
    width: 100%;
    color: #ffffff;
    font-family: "Comfortaa", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 3.4;
    text-align: center;
    transition: 1s; }
    .headlist__link::before {
      display: block;
      position: absolute;
      content: "";
      height: 3px;
      width: 0;
      background-color: #00bac6;
      transition: width .5s ease-in-out, left .5s ease-in-out;
      left: 50%;
      bottom: 0; }
    .headlist__link::after {
      display: block;
      position: absolute;
      content: "";
      height: 3px;
      width: 0;
      background-color: #00bac6;
      transition: width .5s ease-in-out;
      left: 50%;
      bottom: 0; }
    .headlist__link:hover::before {
      width: 50%;
      left: 0; }
    .headlist__link:hover::after {
      width: 50%; }
    .headlist__link:hover {
      color: #00bac6;
      transition: 1s; }

.call-us {
  padding-top: 5px;
  float: right; }
  .call-us__link {
    display: block;
    color: #ffffff;
    font-family: "Comfortaa", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 2.1;
    text-align: center;
    transition: 1s; }
    .call-us__link:hover {
      color: #00bac6;
      transition: 1s; }

.call-us .fa {
  vertical-align: top;
  font-size: 28px;
  margin: 0 5px;
  color: #00bac6; }

#headsvg {
  fill: #00bac6; }

.open {
  display: none;
  float: right;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: opacity 0.2s linear; }
  .open span {
    display: block;
    height: 4px;
    width: 30px;
    border-radius: 40px;
    background-color: #fff;
    position: fixed;
    z-index: 100;
    top: 3%;
    overflow-x: hidden;
    transition: all 0.4s ease; }
    .open span:nth-child(1) {
      margin-top: 10px;
      z-index: 4; }
    .open span:nth-child(2) {
      margin-top: 25px; }
    .open span:nth-child(3) {
      margin-top: 40px; }

.sub-menu {
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  height: 0;
  width: 0;
  right: 0;
  top: 0;
  position: absolute;
  background-color: rgba(0, 186, 198, 0.52);
  border-radius: 50%;
  z-index: 18;
  overflow: hidden; }
  .sub-menu li {
    display: block;
    float: right;
    clear: both;
    height: auto;
    margin-right: -160px;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    .sub-menu li:first-child {
      margin-top: 150px; }
    .sub-menu li:nth-child(1) {
      -webkit-transition-delay: 0.05s; }
    .sub-menu li:nth-child(2) {
      -webkit-transition-delay: 0.10s; }
    .sub-menu li:nth-child(3) {
      -webkit-transition-delay: 0.15s; }
    .sub-menu li:nth-child(4) {
      -webkit-transition-delay: 0.20s; }
    .sub-menu li:nth-child(5) {
      -webkit-transition-delay: 0.25s; }
    .sub-menu li a {
      color: #fff;
      font-family: 'Lato', Arial, Helvetica, sans-serif;
      font-size: 16px;
      width: 100%;
      display: block;
      float: left;
      line-height: 40px; }
      .sub-menu li a:hover {
        color: #323a45;
        transition: 1s; }

.oppenned .sub-menu {
  opacity: 1;
  height: 370px;
  width: 370px; }
.oppenned span:nth-child(2) {
  overflow: visible; }
.oppenned span:nth-child(1), .oppenned span:nth-child(3) {
  display: none; }
.oppenned span:nth-child(1) {
  display: none; }
.oppenned span:nth-child(2) {
  height: 370px;
  width: 370px;
  right: -160px;
  top: -160px;
  border-radius: 50%;
  background-color: #00bac6; }
.oppenned span:nth-child(3) {
  display: none; }
.oppenned li {
  margin-right: 200px; }

@media screen and (max-width: 1199px) {
  .headlist {
    float: right;
    text-align: right; }

  #headsvg {
    width: 200px;
    height: 80px; } }
@media screen and (max-width: 994px) {
  .headlist {
    display: none; }

  .open {
    display: block; } }
.bg-hello {
  background: url("../img/bg-hello.jpg");
  background-size: cover;
  padding: 20% 1%; }

.hello {
  text-align: center; }
  .hello__heading {
    color: white;
    font-family: "Comfortaa", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    margin: 0 auto; }
  .hello__text {
    width: 60%;
    color: white;
    font-family: "Comfortaa", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    margin: 20px auto; }

.popup {
  display: block;
  width: 230px;
  padding: 1%;
  margin: 1%;
  color: white;
  font-family: "Comfortaa", sans-serif;
  font-size: 20px;
  font-weight: 400;
  background: #f7584c;
  transform: rotate(90deg);
  position: fixed;
  top: 50%;
  opacity: 0.8;
  left: 88%;
  text-align: center;
  transition: 1s;
  z-index: 6; }
  .popup:hover {
    opacity: 1;
    transition: 1s; }

.popup-form {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 15%;
  z-index: 9;
  background: url("../img/form-bg.png");
  background-size: cover;
  display: none; }

.online {
  width: 96%;
  padding: 0 10px; }

.online > input {
  width: 100%; }

.online > textarea {
  width: 100%; }

#pop-btn {
  width: 30%;
  background: #363D4E;
  color: #FFFFFF; }
  #pop-btn:hover {
    opacity: 0.7; }

.hello-form {
  min-width: 200px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 20px;
  background: rgba(0, 186, 198, 0.76);
  border: 8px solid #363D4E; }

.modal_close {
  background: #363D4E;
  border: none;
  border-radius: 50%;
  color: #FFFFFF;
  cursor: pointer;
  outline: none;
  width: 42px;
  height: 42px;
  transition: transform 600ms;
  margin-left: 90%; }

.modal_close:hover {
  background: #3E465A;
  transform: rotate(360deg) scale(1.1);
  transition: transform 600ms; }

button.modal_close span, span:before, span:after {
  background: #FFFFFF;
  content: '';
  cursor: pointer;
  display: block;
  height: 2px;
  width: 20px; }

button.modal_close span:first-child {
  background: none;
  margin: auto; }

button.modal_close span:before {
  transform: rotate(45deg); }

button.modal_close span:after {
  transform: translateY(-2px) rotate(-45deg);
  top: 2px; }

.thankyou {
  display: none; }

.thankyou-text {
  color: white;
  font-family: "Comfortaa", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  margin: 20px auto; }

.error {
  outline: 3px solid #f7584c; }

@media screen and (min-width: 1450px) {
  .popup {
    left: 88%; } }
@media screen and (max-width: 1367px) {
  .popup {
    left: 87%; } }
@media screen and (max-width: 1025px) {
  .popup {
    left: 84%; } }
@media screen and (max-width: 768px) {
  .popup {
    left: 79%; } }
@media screen and (max-width: 668px) {
  .popup {
    left: 76%; } }
@media screen and (max-width: 415px) {
  .popup {
    left: 65%; } }
@media screen and (max-width: 376px) {
  .popup {
    left: 62%; } }
@media screen and (max-width: 360px) {
  .popup {
    left: 60%; } }
.about {
  padding: 5% 0;
  background: white; }
  .about__text {
    color: #7b7b7b;
    text-align: center;
    font-family: Comfortaa, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 48px;
    text-transform: uppercase; }
  .about__service {
    max-height: 400px;
    overflow: auto;
    text-align: center;
    padding: 0 10px; }

.service-heading {
  color: #7b7b7b;
  font-family: Comfortaa, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase; }

.service-text {
  text-align: left;
  color: #9a9a9a;
  font-family: Comfortaa, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px; }

.service-img {
  margin: 5% 0;
  width: 50px;
  height: 50px;
  fill: #f7584c; }

.repair {
  transform-origin: center;
  animation: rotate 2s infinite ease-in; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  20% {
    transform: rotate(20deg); }
  50% {
    transform: rotate(-20deg); }
  100% {
    transform: rotate(0deg); } }
.idea {
  transform-origin: center;
  animation: flash 1s infinite ease-in; }

@keyframes flash {
  0% {
    fill: none; }
  50% {
    fill: #FFD782; }
  100% {
    fill: none; } }
.three {
  fill: #00bac6;
  transition: 1s;
  transform-origin: center;
  animation: colored 3s infinite ease-in; }

@keyframes colored {
  0% {
    transform: translateY(0) rotate(0deg); }
  50% {
    fill: #f7584c;
    transform: translateY(20%) rotate(20deg); }
  75% {
    fill: green;
    transform: translateY(-20%); }
  100% {
    transform: translateY(0) rotate(0deg); } }
.four {
  fill: #cbe6a3;
  animation: clock 4s infinite linear; }

@keyframes clock {
  0% {
    transform: translateX(0) rotate(0deg); }
  50% {
    transform: translateX(40%) rotate(20deg); }
  75% {
    transform: translateX(-40%) rotate(-20deg); }
  100% {
    transform: translateX(0) rotate(0deg); } }
.slider-photo {
  padding: 10px 0 30px;
  background: #ecf0f1; }
  .slider-photo__heading {
    text-align: center;
    text-transform: uppercase;
    color: #7b7b7b;
    font-family: "Comfortaa",sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700; }

.slick-slide {
  margin: 0 10px 10px; }

.sliderparent img {
  width: 100%;
  height: auto; }

.comments {
  padding: 2%;
  position: relative; }
  .comments__heading {
    text-align: center;
    text-transform: uppercase;
    color: #7b7b7b;
    font-family: "Comfortaa",sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    border-bottom: 2px solid #00bac6;
    margin: 2%;
    padding: 2%; }

.col-left,
.col-right {
  text-align: center; }

form {
  max-width: 100%; }

input {
  font-family: "Comfortaa",sans-serif;
  border: none;
  outline: none;
  font-size: 1.5rem;
  text-indent: 5px;
  width: 90%;
  height: 3rem;
  background: #ecf0f1;
  margin: 2%;
  padding: 1%; }

input:focus {
  opacity: .6; }

textarea {
  font-family: "Comfortaa",sans-serif;
  resize: none;
  border: none;
  outline: none;
  font-size: 1.5rem;
  line-height: 2;
  text-indent: 5px;
  width: 90%;
  height: 9rem;
  background: #ecf0f1;
  margin: 2%;
  padding: 1%; }

textarea:focus {
  opacity: .6; }

.comments-box {
  width: 90%;
  max-height: 200px;
  overflow-y: scroll;
  background: #ecf0f1;
  margin: 0 auto;
  padding: 1%; }

.slider-comments {
  width: 90%;
  margin: 0 auto; }

.yourcomments {
  text-align: justify;
  color: #7b7b7b;
  font-family: "Comfortaa",sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400; }

#trigger {
  margin-left: 40%;
  width: 50%;
  height: 3rem;
  background: #f7584c;
  color: #FFFFFF; }

.window {
  width: 100%;
  height: 100%;
  z-index: 9000;
  display: none; }

.modal-svg {
  width: 100px;
  height: 100px; }

.modal-heading {
  text-align: center;
  text-transform: uppercase;
  color: #7b7b7b;
  font-family: "Comfortaa",sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  border-bottom: 2px solid #00bac6;
  margin: 2%;
  padding: 2%; }

footer {
  background: #252831; }

.footer-text {
  margin: 0;
  padding: 2%;
  text-align: center;
  color: #c1c1c1;
  font-family: "Comfortaa",sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px; }

.footer-text a {
  color: #00bac6;
  transition: 1s; }
  .footer-text a:hover {
    color: white;
    transition: 1s; }

.contact-content {
  padding: 5%;
  background: url("../img/bg.png");
  background-size: cover; }

#map {
  width: 100%;
  height: 400px; }

.map__contact {
  color: #00bac6;
  font-family: "Comfortaa",sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  font-weight: 700; }
.map__text {
  color: #00bac6;
  font-family: "Comfortaa",sans-serif;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  font-weight: 400; }

.external {
  margin-bottom: 20px; }

.external a {
  display: block;
  color: white;
  font-family: "Comfortaa",sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  transition: 1s; }
  .external a:hover {
    color: #00bac6;
    transition: 1s; }

.external .fa {
  vertical-align: baseline;
  font-size: 28px;
  margin: 0 10px;
  color: #00bac6; }

/*# sourceMappingURL=main.css.map */
